<div class="sign-in-upper">
    <a class="sign-in-home-link" href="/home"><i class="fa-solid fa-angle-left"></i><p>Go to Shop</p></a>
    <p class="sign-in-title">Sign in</p>
    <div class="sign-in-vertical-line"></div>
    <h2 class="sign-in-heading">Welcome Back!</h2>
    <p class="sign-in-sub-titel">Sign in to continue</p>
</div>
