<div class="categories-main-container container-fluid" style="padding-left: 0; padding-right: 0;">

    <div class="categories-headroom container">
        <div class="categories-headroom-row row">
            <div class="categories-burger-meny-holder col-2">
                <i class="fa-solid fa-bars-staggered"></i>
            </div>
            <div class="categories-searchbar-holder col-8">
                <form asp-controller="Products" asp-action="Search" method="get"><i class="fa-light fa-search"></i><input type="text" placeholder="Search" name="query"></form>
            </div>
            <div class="categories-basket-holder col-2">
                <i class="fa-light fa-shopping-basket"></i>
            </div>
        </div>


    </div>



    <div class="categories-carousel-container container-fluid">
        <div class="categories-carousel-slide">
            <div class="categories-carousel-row">
                <a href="#">
                    <div class="categories-carousel-tags-holder tags-holder-active">
                        <h6>MEN</h6>
                    </div>
                </a>
                <a href="#">
                    <div class="categories-carousel-tags-holder">
                        <h6>WOMEN</h6>
                    </div>
                </a>
                <a href="#">
                    <div class="categories-carousel-tags-holder">
                        <h6>KIDS</h6>
                    </div>
                </a>
                <a href="#">
                    <div class="categories-carousel-tags-holder">
                        <h6>ACCESORIES</h6>
                    </div>
                </a>
                <a href="#">
                    <div class="categories-carousel-tags-holder">
                        <h6>OTHERS</h6>
                    </div>
                </a>
                <a href="#">
                    <div class="categories-carousel-tags-holder">
                        <h6>ELECTRONICS</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="categories-content-container container">
        <div class="categories-content-row row">
            <div class="categories-half-image-holder-left col-6">
                <a href="">
                    <h6>Dresses</h6>
                </a>
            </div>
            <div class="categories-half-image-holder col-6">
                <a href="">
                    <h6>Pants</h6>
                </a>
            </div>
        </div>
        <div class="categories-content-row row">
            <div class="categories-full-image-holder col-12">
                <a href="">
                    <h6>Accesories</h6>
                </a>
            </div>
        </div>
        <div class="categories-content-row row">
            <div class="categories-half-image-holder-left col-6">
                <a href="">
                    <h6>Shoes</h6>
                </a>
            </div>
            <div class="categories-half-image-holder col-6">
                <a href="">
                    <h6>T-shirts</h6>
                </a>
            </div>
        </div>
    </div>
</div>