<section class="edit-profile-section">
    <div class="edit-profile-container">
        <div class="edit-profile-upper">
            <a class="edit-profile-home-link" href="/home"><i class="fa-solid fa-angle-left"></i><p>Go to Shop</p></a>
            <p class="edit-profile-title">Edit profile</p>
            <div class="edit-profile-vertical-line"></div>
            <div class="edit-profile-image-container">
                <div class="edit-profile-image-big-circle">
                    <img class="eidt-profile-image" src="../images/editProfileImageTest.jpg" alt="">
                </div>
                <div class="edit-profile-small-circle">
                    <i class="fa-light fa-camera"></i>
                </div>
            </div>
        </div>
        <Partial name="/Views/Partials/Forms/_EditProfileForm.cshtml" />
    </div>
</section>
