<div class="homepage-part-1-container container-fluid">

    <div class="homepage-part-1-headroom-row col-12">
        <div class="col-12 col-md-6 homepage-part-1-headroomholder">
            <div class="homepage-part-1-burger-holder col-4 col-md-2">
                <i class="fa-solid fa-bars-staggered homepage-part-1-burger-icon"></i>
            </div>
            <div class="col-4 homepage-part-1-pagetitle-holder col-md-2">
                <img src="/images/logo.png" class="homepage-part-1-headroomtitle"></img>
            </div>
            <div class="col-4 homepage-part-1-cart-holder col-md-2">
                <i class="fa-solid fa-bag-shopping homepage-part-1-cart-icon"></i>
            </div>
        </div>
    </div>


    <div class="homepage-carousel-container container">
        <div class="homepage-carousel-slide">
            <div class="homepage-carousel-row">
                <a href="#">
                    <div class="homepage-carousel-tags-holder">
                        <img src="/images/myProfile_profileimg.png" alt="">
                        <h6>Kids</h6>
                    </div>
                </a>
                <a href="#">
                    <div class="homepage-carousel-tags-holder">
                        <img src="/images/myProfile_profileimg.png" alt="">
                        <h6>Kids</h6>
                    </div>
                </a>
                <a href="#">
                    <div class="homepage-carousel-tags-holder">
                        <img src="/images/myProfile_profileimg.png" alt="">
                        <h6>Kids</h6>
                    </div>
                </a>
                <a href="#">
                    <div class="homepage-carousel-tags-holder">
                        <img src="/images/myProfile_profileimg.png" alt="">
                        <h6>Kids</h6>
                    </div>
                </a>
                <a href="#">
                    <div class="homepage-carousel-tags-holder">
                        <img src="/images/myProfile_profileimg.png" alt="">
                        <h6>Kids</h6>
                    </div>
                </a>
                <a href="#">
                    <div class="homepage-carousel-tags-holder">
                        <img src="/images/myProfile_profileimg.png" alt="">
                        <h6>Kids</h6>
                    </div>
                </a>
              
          
            </div>
        </div>
    </div>

    <div class="homepage-top-banner">
        <div class="homepage-top-banner-row row">
            <div class="homepage-top-banner-column-1 col-6"></div>
            <div class="homepage-top-banner-column-2 col-6">
                <div class="homepage-top-banner-info-holder">
                    <h4>Take 50% off!</h4>
                    <button>Shop Now</button>
                </div>
            </div>
        </div>
    </div>

</div>