<section class="Featured-products">
    <div class="containter">
        <div class="title">
            <P>Featured Products</P>
            <a href="/home" class="view-all">view all<i class="fa-solid fa-arrow-right"></i></a>

        </div>

        <div class="Products">
            <article>
                <img src="/images/imageseliana1.jpeg" alt="">
                <div class="images-icon">
                    <div class="heart"><i class="fa-regular fa-heart"></i></div>
                    <div class="korgen"><i class="fa-solid fa-cart-shopping"></i></div>

                </div>




                <div class="article-title">
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>

                    </div>

                    <div>
                        <p>summer pants</p>
                    </div>

                    <div>
                        <p>$31.78</p>

                    </div>

                </div>

            </article>

            <article>
                <img src="/images/w1000_q80eliana2.jpg" alt="">
                <div class="sale"><p>sale</p></div>
                <div class="images-icon">
                    <div class="heart"><i class="fa-regular fa-heart"></i></div>
                    <div class="korgen"><i class="fa-solid fa-cart-shopping"></i></div>

                </div>

                <div class="article-title">
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>

                    </div>

                    <div>
                        <p>shoulder bag</p>
                    </div>

                    <div>
                        <p>$38.00</p>
                    </div>

                </div>

            </article>


            <article>
                <img src="/images/uicydafx6ulidgv1rkzleliana3.webp" alt="">
                <div class="images-icon">
                    <div class="heart"><i class="fa-regular fa-heart"></i></div>
                    <div class="korgen"><i class="fa-solid fa-cart-shopping"></i></div>

                </div>
                <div class="article-title">
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>

                    </div>

                    <div>
                        <p>Black Sneakers</p>
                    </div>

                    <div>
                        <p>$29.95</p>
                    </div>

                </div>

            </article>

            <article>
                <img src="/images/overshirt-dam-jeans_700849_1eliana4.webp" alt="">
                <div class="images-icon">
                    <div class="heart"><i class="fa-regular fa-heart"></i></div>
                    <div class="korgen"><i class="fa-solid fa-cart-shopping"></i></div>

                </div>

                <div class="article-title">
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>

                    </div>

                    <div>
                        <p>Warm hat</p>
                    </div>

                    <div>
                        <p>$5.93</p>
                    </div>

                </div>

            </article>

        </div>


    </div>

</section>



<section>
    <h1>webbutvecklare</h1>
</section>
                      