@using Manero.Helpers.Dtos;
@using Manero.Helpers.Services;
@model List<ProductModel>

@{
    var products = await productService.GetBestSellingProductsAsync();
}

<section class="best-sellers-container container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col p-3">
            <h3 class="best-sellers-font fw-bold">Best Sellers</h3>
        </div>
        <div class="col p-3 d-flex justify-content-end align-items-center">
            <a href="#" class="best-sellers-font best-sellers-link">View All ></a>
        </div>
    </div>

    @foreach(var product in products.Take(3))   
    {
            <a href="#" class="row best-sellers-link">
            <div class="col p-3">
                <img class="best-sellers-img" src="@product.ImageUrl?.ToString()">
            </div>
            <div class="col p-3 d-flex">
                <div class="col">
                    <p>@product.Name</p>
                    <p class="best-sellers-font">$@product.Price.ToString("0.00")</p>
                    <div class="best-sellers-stars">
                        <i class="fa-solid fa-star fa-2xs"></i>
                        <i class="fa-solid fa-star fa-2xs"></i>
                        <i class="fa-solid fa-star fa-2xs"></i>
                        <i class="fa-regular fa-star fa-2xs"></i>
                        <i class="fa-regular fa-star fa-2xs"></i>
                    </div>
                </div>
                <div>
                    <i class="fa-regular fa-heart mt-3"></i>
                </div>
            </div>
        </a>
        
    }

</section>