<section class="horizontal-line-section">
    <div class="horizontal-line-container">
        <div class="horizontal">
            <div class="horizontal-line"></div>
        </div>
    </div>
</section>
