
<footer>
    <section id="menu">
     <nav>
            <a href="home"><i class="fas fa-house"></i> </a>
            <a href="home"><i class="fas fa-search"></i> </a>
            <a href="Account/Created"><i class="fas fa-shopping-cart"></i> </a>
            <a href="Account/MyPromocodes"><i class="far fa-heart"></i> </a>
            <a href="Account/EditProfile"><i class="far fa-user"></i> </a>
            </nav>
    </section>
</footer>