<footer>
    <section id="menu">
        <nav>
            <ul>
                <li><a href="home"><i class="fas fa-house"></i> </a></li>
                <li><a href="search"><i class="fas fa-search"></i> </a></li>
                <li><a href="cart"><i class="fas fa-shopping-cart"></i> </a></li>
                <li><a href="wishlist"><i class="far fa-heart"></i> </a></li>
                <li><a href="profile"><i class="far fa-user"></i> </a></li>
            </ul>
        </nav>
    </section>
</footer>