
<footer>
    <section id="menu">
        <nav>
            <a asp-action="index" asp-controller="Home"><i class="fas fa-house"></i> </a>
            <a asp-action="index" asp-controller="Products"><i class="fas fa-search"></i> </a>
            <a asp-action="index" asp-controller="Cart"><i class="fas fa-shopping-cart"></i> </a>
            <a asp-action="index" asp-controller="Wishlist"><i class="far fa-heart"></i> </a>
            <a asp-action="index" asp-controller="Account"><i class="far fa-user"></i> </a>
        </nav>
    </section>
</footer>