@using Manero.Helpers.Services;
@{
    ViewData["Title"] = User.FindFirst("DisplayName")?.Value;
}

<div class="my-profile-container containter-fluid">
    <div class="my-profile-headroom-row row col-12">
        <div class="col-12 col-md-6 my-profile-headroomholder">
            <div class="my-profile-burger-holder col-4 col-md-2">
                <i class="fa-solid fa-bars-staggered my-profile-burger-icon"></i>
            </div>
            <div class="col-4 my-profile-pagetitle-holder col-md-2">
                <h6 class="my-profile-headroomtitle">My Profile</h6>
            </div>
            <div class="col-4 my-profile-cart-holder col-md-2">
                <i class="fa-solid fa-bag-shopping my-profile-cart-icon"></i>
            </div>
        </div>
    </div>

    <section class="my-profile-image-section">
        <div class="my-profile-image-container container-fluid">
            <div class="my-profile-image-holder">
                <img class="my-profile-profile-image" src="/images/myProfile_profileimg.png" alt="#">

            </div>
            <div class="my-profile-info-holder">
                @if (signInManager.IsSignedIn(User))
                {
                    <h6 class="my-profile-profile-name">@ViewData["Title"]</h6>
                    <p class="my-profile-email-address">@User.Identity?.Name</p>
                }
            </div>
        </div>
    </section>
    <section class="my-profile-section">
        <div class="my-profile-container container-fluid">
            <a asp-controller="account" asp-action="orderhistory">
           <div class="my-profile-options-row col-12 col-lg-8">
                
                <div class="my-profile-small-holders col-12 col-md-6 col-lg-6">
                    <div class="my-profile-icons-holder col-3 col-md-1">
                        <i class="fa-light fa-calendar fa-lg"></i>
                    </div>
                    <div class="my-profile-linkname-holder col-6 col-md-10">
                        <p class="my-profile-profile-links">Order History</p>
                    </div>
                    <div class="my-profile-chevron-holder col-3 col-md-1">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>

            </div>
            </a>
            
            <a href="#">
                <div class="my-profile-options-row">
                    <div class="my-profile-small-holders col-12 col-md-6 col-lg-6">
                        <div class="my-profile-icons-holder col-3 col-md-1">
                            <i class="fa-light fa-credit-card"></i>
                        </div>
                        <div class="my-profile-linkname-holder col-6 col-md-10">
                            <p class="my-profile-profile-links">Payment Method</p>
                        </div>
                        <div class="my-profile-chevron-holder col-3  col-md-1">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </a>
            <a asp-controller="account" asp-action="myaddress">
                <div class="my-profile-options-row col-lg-8">
                    <div class="my-profile-small-holders col-12 col-md-6 col-lg-6">
                        <div class="my-profile-icons-holder col-3 col-md-1">
                            <i class="fa-light fa-location-dot fa-lg"></i>
                        </div>
                        <div class="my-profile-linkname-holder col-6 col-md-10">
                            <p class="my-profile-profile-links">My address</p>
                        </div>
                        <div class="my-profile-chevron-holder col-3 col-md-1">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </a>
            <a asp-controller="account" asp-action="mypromocodes">
                <div class="my-profile-options-row col-lg-8">
                    <div class="my-profile-small-holders col-12 col-md-6 col-lg-6">
                        <div class="my-profile-icons-holder col-3 col-md-1">
                            <i class="fa-light fa-gift"></i>
                        </div>
                        <div class="my-profile-linkname-holder col-6 col-md-10">
                            <p class="my-profile-profile-links">My promocodes</p>
                        </div>
                        <div class="my-profile-chevron-holder col-3 col-md-1">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </a>
            <a asp-controller="account" asp-action="logout">
                <div class="my-profile-options-row">
                    <div class="my-profile-small-holders col-12 col-lg-6">
                        <div class="my-profile-icons-holder">
                            <i class="fa-light fa-arrow-right-from-bracket"></i>
                        </div>
                        <p class="my-profile-profile-links">Sign out</p>
                    </div>
                </div>
            </a>
        </div>

    </section>
</div>
