<div class="my-promocodes-container container">
    <div class="my-promocodes-top-container container">
        <div class="my-promocodes-top-row row">
            <div class="my-promocodes-chevron-holder col-3 col-md-5"><a asp-controller="account" asp-action="index"><i class="fa-solid fa-chevron-left"></i></a></div>
            <div class="my-promocodes-heading-holder col-8 col-md-4">
                <h5>My promocodes</h5>
            </div>
        </div>
        <div class="my-promocodes-buttons-row row">
            <div class="my-promocodes-buttons-holder col-12 d-flex">
                <a href="#"><button class="my-promocodes-button-current active">Current</button></a>
                <a href="#"><button class="my-promocodes-button-used">Used</button></a>
            </div>
        </div>
    </div>
    <div class="my-promocodes-promocode-container container-fluid">
        <div class="my-promocodes-row row">
            <div class="col-3">
                <a href=""><img src="/images/promocodecompany.png" /></a>
            </div>
            <div class="my-promocodes-promocode-holder col-7">
                <a href="">
                    <h6>Acme Co.</h6>
                    <p class="my-promocodes-percentage-50">50% off</p>
                    <p class="my-promocodes-valid-date">Valid until June 30, 2022</p>
                </a>
            </div>
            <div class="my-promocodes-copy-icon-holder col-2">
                <a href="#"><i class="fa-light fa-copy"></i></a>
            </div>
        </div>
        <div class="my-promocodes-row row">
            <div class="col-3">
                <a href=""><img src="/images/promocodecompany.png" /></a>
            </div>
            <div class="my-promocodes-promocode-holder col-7">
                <a href="">
                    <h6>Abstergo Ltd.</h6>
                    <p class="my-promocodes-percentage-30">30% off</p>
                    <p class="my-promocodes-valid-date">Valid until June 30, 2022</p>
                </a>
            </div>
            <div class="my-promocodes-copy-icon-holder col-2">
                <a href="#"><i class="fa-light fa-copy"></i></a>
            </div>
        </div>
        <div class="my-promocodes-row row">
            <div class="col-3">
                <a href=""><img src="/images/promocodecompany.png" /></a>
            </div>
            <div class="my-promocodes-promocode-holder col-7">
                <a href="">
                    <h6>Barone LLC.</h6>
                    <p class="my-promocodes-percentage-15">15% off</p>
                    <p class="my-promocodes-valid-date">Valid until June 30, 2022</p>
                </a>
            </div>
            <div class="my-promocodes-copy-icon-holder col-2">
                <a href="#"><i class="fa-light fa-copy"></i></a>
            </div>
        </div>

    </div>
