<div class="order-history-container container">
    <div class="order-history-top-container container">
        <div class="order-history-top-row row">
            <div class="order-history-chevron-holder col-3 col-md-4">
                <a asp-controller="account" asp-action="index">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
            </div>
            <div class="order-history-heading-holder col-8 col-md-4">
                <h5 class="order-history-heading">Payment Method</h5>
            </div>
        </div>
    </div>
    <div class="container payment-method-card-container">
        <div class="row">
            <div class="col">
                <h3>Cards</h3>
            </div>
            <div class="col d-flex justify-content-end">
                <a asp-controller="account" asp-action="addpaymentmethod">
                    Add a new Card +
                </a>
            </div>
        </div>
        <div class="payment-method-card-row mt-2">
            <div class="payment-method-card">
                <h3>VISA</h3>
                <h4 class="mt-4">3254 6723 4234 3424</h4>
                <div class="row mt-4">
                    <div class="col mt-2">
                        <p>Jocke Larsson</p>
                    </div>
                    <div class="col mt-2">
                        <p>exp. end</p>
                        <p>11/24</p>
                    </div>
                </div>
            </div>
            <div class="payment-method-card">
                <h3>VISA</h3>
                <h4 class="mt-4">3254 6723 4234 3424</h4>
                <div class="row mt-4">
                    <div class="col mt-2">
                        <p>Jocke Larsson</p>
                    </div>
                    <div class="col mt-2">
                        <p>exp. end</p>
                        <p>11/24</p>
                    </div>
                </div>
            </div>
            <div class="payment-method-card">
                <h3>VISA</h3>
                <h4 class="mt-4">3254 6723 4234 3424</h4>
                <div class="row mt-4">
                    <div class="col mt-2">
                        <p>Jocke Larsson</p>
                    </div>
                    <div class="col mt-2">
                        <p>exp. end</p>
                        <p>11/24</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>