<div class="sign-up-upper">
    <a class="sign-up-home-link" asp-controller="home" asp-action="index"><i class="fa-solid fa-angle-left"></i><p>Go to Shop</p></a>
    <p class="sign-up-title">Sign up</p>
    <div class="sign-up-vertical-line"></div>
    <h2 class="sign-up-heading">Sign up</h2>
</div>
