<section class="sign-social-media">
    <div class="sign-media">
        <div class="sign-soc-link">
            <a class="sign-facebook-link"><i class="fa-brands fa-facebook-f fa-2xl"></i></a>
        </div>
        <div class="sign-soc-link">
            <a class="sign-x-link"><i class="fa-brands fa-x-twitter fa-2xl"></i></a>
        </div>
        <div class="sign-soc-link">
            <a class="sign-google-link"><i class="fa-brands fa-google fa-2xl"></i></a>
        </div>
    </div>
    <div class="sign-horizontal-container">
        <div class="sign-horizontal">
            <div class="sign-horizontal-line"></div>
        </div>
    </div>
</section>
