<div class="sign-in-media">
    <div class="sign-in-soc-link">
        <a class="sign-in-facebook-link"><i class="fa-brands fa-facebook-f fa-2xl"></i></a>
    </div>
    <div class="sign-in-soc-link">
        <a class="sign-in-x-link"><i class="fa-brands fa-x-twitter fa-2xl"></i></a>
    </div>
    <div class="sign-in-soc-link">
        <a class="sign-in-google-link"><i class="fa-brands fa-google fa-2xl"></i></a>
    </div>
</div>
<div class="sign-in-horizontal">
    <div class="sign-in-horizontal-line"></div>
</div>
