.sign-social-media {
    .sign-media {
        display: flex;
        justify-content: center;
        align-items: center;

        .sign-soc-link {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10dvh;
            width: 10dvh;
            border: solid 1px;
            border-color: #DBE3F5;
            border-radius: 5dvh;
            margin: 7dvh 1dvh;

            .sign-facebook-link {
                color: #4267B2;
            }

            .sign-x-link {
                color: #1DA1F2;
            }

            .sign-google-link {
                color: #DB4437;
            }
        }
    }

    .sign-horizontal-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .sign-horizontal {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2dvh;

            @include xsd {
                width: 80vw;
            }

            @include sd {
                width: 70vw;
            }

            @include ms {
                width: 60vw;
            }

            @include xd {
                width: 45vw;
            }

            @include xxd {
                width: 30vw;
            }

            @include xxxd {
                width: 20vw;
            }

            .sign-horizontal-line {
                height: 1dvh;
                width: 35%;
                border-radius: 0.5dvh;
                background-color: #111111;
            }
        }
    }
}
