
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Welcome To Manero";
}
<head>
    <meta http-equiv="Refresh" content="5;/Onboarding/Welcome">
</head>


<section class="welcome-section">
    <div class="welcome-ring">
        <div class="welcome-circle">
            <div class="welcome-content">
                <div class="welcome-rectangle"></div>
                <h1 class="welcome-header">MANERO</h1>
            </div>
        </div>
    </div>
</section>