@{
    ViewData["Title"] = "Create an account";
}

<section class="sign-up-section">
    <div class="sign-up-container">
        <partial name="/Views/Partials/_PasswordHeader.cshtml" />
        <partial name="/Views/Partials/Forms/_ForgetPassword.cshtml" />
    </div>
</section>
