@model UserLoginViewModel;

@{
    ViewData["Title"] = "Sign In";
}

@* <form method="post" novalidate asp-route-ReturnUrl="@Model.ReturnUrl">

    <div asp-validation-summary="ModelOnly" class="text-danger d-flex justify-content-center"></div>

    <div class="email form-group">
        <label asp-for="Email"></label>
        <a class="form-link" asp-action="Register" asp-controller="Account">Don't Have An Account Yet?</a>
        <input asp-for="Email" autocomplete="off">
        <small><span asp-validation-for="Email" class="error"></span></small>
    </div>
    <div class="password form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" autocomplete="off">
        <small><span asp-validation-for="Password" class="error"></span></small>
    </div>
    <div class="terms form-checkbox-group">
        <label class="custom-checkbox">
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="form-btn">
        <button class="theme-button form-submit-btn">Log In</button>
    </div>
</form> *@

<section class="sign-in-section">
    <div class="sign-in-container">
        <div class="sign-in-upper">
            <a class="sign-in-home-link" href="/home"><i class="fa-solid fa-angle-left"></i><p>Go to Shop</p></a>
            <p class="sign-in-title">Sign in</p>
            <div class="sign-in-vertical-line"></div>
            <h2 class="sign-in-heading">Welcome Back!</h2>
            <p class="sign-in-sub-titel">Sign in to continue</p>
        </div>
        <form class="sign-in-form">
            <div class="sign-in-form-div">
                <label class="sign-in-label" for="email">Email</label>
                <input class="sign-in-input" type="email" name="email" id="sign-in-email" placeholder="email">
                <div class="sign-in-icon">
                    <i class="fa-sharp fa-regular fa-check"></i>
                </div>
            </div>
            <div class="sign-in-form-div">
                <label class="sign-in-label" for="password">password</label>
                <input class="sign-in-input" type="password" name="password" id="sign-in-password" placeholder="password">
                <div class="sign-in-icon-button">
                    <button><i class="fa-regular fa-eye-slash"></i></button>
                </div>
            </div>
            <div class="sign-in-remember-container">
                <div class="sign-in-checkbox">
                    <input class="sign-in-input-checkbox" type="checkbox" name="checkbox" id="sign-in-checkbox-id" placeholder="Remember me">
                    <label class="sign-in-label-checkbox" for="checkbox">Remember me</label>
                </div>
                <a class="sign-in-forgot-password">Forgot password?</a>
            </div>
            <div class="sign-in-form-div">
                <button class="sign-in-input" type="submit">Sign in</button>
            </div>
        </form>
        <a class="sign-in-login-link" asp-controller="account" asp-action="register">Don´t have an account? Sign up.</a>
        <div class="sign-in-media">
            <div class="sign-in-soc-link">
                <a class="sign-in-facebook-link"><i class="fa-brands fa-facebook-f fa-2xl"></i></a>
            </div>
            <div class="sign-in-soc-link">
                <a class="sign-in-x-link"><i class="fa-brands fa-x-twitter fa-2xl"></i></a>
            </div>
            <div class="sign-in-soc-link">
                <a class="sign-in-google-link"><i class="fa-brands fa-google fa-2xl"></i></a>
            </div>
        </div>
        <div class="sign-in-horizontal">
            <div class="sign-in-horizontal-line"></div>
        </div>
    </div>
</section>