@model UserLoginViewModel;

@{
    ViewData["Title"] = "Sign In";
}


<section class="sign-in-section">
    <div class="sign-in-container">
        <partial name="/Views/Partials/_LoginHeader.cshtml" />
        <partial name="/Views/Partials/Forms/_LoginForm.cshtml" />
        <partial name="/Views/Partials/_SocialMediaLogin.cshtml" />
    </div>
</section>