@model UserCreateAccountViewModel

@{
    ViewData["Title"] = "Create an account";
}
<div>
    <div asp-validation-summary="ModelOnly" class="text-danger d-flex justify-content-center"></div>
</div>
<form method="post" class="row g-3" novalidate>
    <div class="col-auto">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="col-auto">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="col-auto">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control" >
    </div>
    <div class="col-auto">
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input asp-for="ConfirmPassword" class="form-control">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Register</button>
    </div>
</form>